 <!-- views/partials/head.ejs-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %> - Microblog</title>
    <!-- STYLESHEETS -->   
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href='/stylesheets/style.css'/>

     <!-- script -->
     <% include ./scripts %>
</head>