<!DOCTYPE html">
<html>
     <% include partials/head %>
<body class="bg-light">
    <!-- navigation -->
    <% include partials/nav %>

        <!-- alert message -->
        <% include partials/alert %>
        
        <!-- content -->
        <div class="registerMain">
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group col-md-10 offset-md-1">
                    <label for="oldPW" class="control-label">当前密码</label>
                    <div>
                        <input type="text" class="form-control" id="oldPW" name="oldPW" placeholder="请输入当前密码">
                    </div>
                </div>
                <div class="form-group col-md-10 offset-md-1">
                    <label for="newPW" class="control-label">新密码</label>
                    <div>
                        <input type="text" class="form-control" id="newPW" name="newPW" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 offset-md-1">
                        <button type="submit" class="btn-primary btn-lg btn-block">确定</button>
                    </div>
                </div>
            </form>
        </div>
</body>

</html>